@model IEnumerable<Interior_Center.Models.Catalog>

<h1 style="text-align: center;">Каталог</h1>
<br />
<div class="catalog-container">
<div class="catalog">
    @foreach (var item in Model)
    {
        <div class="item">
            <div class="image-container">
                <img class="imggs" height="140" width="200" src="@item.Image" alt="@item.Name" />
                <div class="overlay">@item.Short</div>
            </div>
            <div class="zagolovok">
                <h5>
                    @item.Name -
                    <span style="color:red;">@item.Price руб</span>
                </h5>
                <div>
                    @item.Short
                </div>
            </div>
            <button onclick="addToCart(@item.ID)">Добавить в корзину</button>
            <button onclick="openLongStory(@item.Image, @item.Name, @item.Price, @item.Long)">Подробнее</button>
        </div>
    }
    </div>
</div>



<!-- Поп-ап окно -->
<div id="longStoryPopup" class="popup">
    <div class="popup-content">
        <span class="close" onclick="closeLongStory()">&times;</span>
        <img id="popupImage" src="" alt="" />
        <h5 id="popupName"></h5>
        <p id="popupPrice"></p>
        <p id="popupLong"></p>
    </div>
</div>

<script>
    function openLongStory(image, name, price, longDescription) {
        document.getElementById("popupImage").src = image;
        document.getElementById("popupName").innerText = name;
        document.getElementById("popupPrice").innerText = price + " руб";
        document.getElementById("popupLong").innerText = longDescription;

        document.getElementById("longStoryPopup").style.display = "block";
    }

    function closeLongStory() {
        document.getElementById("longStoryPopup").style.display = "none";
    }

    // Закрытие поп-апа при клике вне его содержимого
    window.onclick = function (event) {
        var popup = document.getElementById("longStoryPopup");
        if (event.target == popup) {
            popup.style.display = "none";
        }
    }
</script>


<script>
    function addToCart(itemId) {
        fetch('/Cart/AddToCart', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(itemId)
        }).then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert("Товар добавлен в корзину!");
                } else {
                    alert("Ошибка: " + data.message);
                }
            });
    }
</script>