@model IEnumerable<Interior_Center.Models.Catalog>

<h1 style="text-align: center;">Каталог</h1>
<br />
<div class="catalog">
    @foreach (var item in Model)
    {
        <div class="item" style="margin: 20px; display: inline-block; text-align: center;">
            <a href="#">
                <img height="140" width="200" src="@item.Image" alt="@item.Name" />
            </a>
            <h3>
                <a href="#">@item.Name</a> -
                <span style="color:red;">@item.Price руб</span>
            </h3>
            <p>@item.Short</p>
            <button onclick="addToCart(@item.ID)">Добавить в корзину</button>
        </div>
    }
</div>

<script>
    function addToCart(itemId) {
        fetch('/Cart/AddToCart', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ id: itemId })
        }).then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert("Товар добавлен в корзину!");
                } else {
                    alert("Ошибка: " + data.message);
                }
            });
    }
</script>