@model IEnumerable<Interior_Center.Models.Catalog>

<h1 style="text-align: center;">Каталог</h1>
<br />
<div class="catalog">
    @foreach (var item in Model)
    {
        <div class="item" style="margin: 20px; display: inline-block; text-align: center;">
            <a href="#">
                <img height="140" width="200" src="@item.Image" alt="@item.Name" />
            </a>
            <h3>
                <a href="#">@item.Name</a> -
                <span style="color:red;">@item.Price руб</span>
            </h3>
            <p>@item.Short</p>
        </div>
    }
</div>
<a href="@Url.Action("Bedroom", "Catalog")" style="margin: 10px;">Показать товары для спальни</a>
